/**********************************      FONTS    ******/
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700|Open+Sans:400,600");
/**********************************     COLORS    ******/
/**********************************     MIXINS     ******/
/****************************     PLACEHOLDERS     ******/
.square, .centre {
  width: 100%; }
  .square:after, .centre:after {
    content: "";
    display: block;
    padding-bottom: 100%; }
  .square:hover, .centre:hover {
    cursor: pointer; }

.fa-question-circle, .btn-start, .strictButton {
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out; }

/****************************     GENERIC    ******/
html {
  height: 100%; }

body {
  margin: 0;
  height: 100%; }

.wrapper {
  max-width: 700px;
  margin: 0 auto;
  padding: 0px 15px; }

/****************************     NAV    ******/
.navbar {
  display: block;
  width: 100%;
  background-color: #393E41;
  color: #FFFDFD;
  font-family: 'Nunito', sans-serif; }

.nav-section {
  display: inline-block;
  margin-left: 15px; }

.fa-question-circle {
  font-size: 23px; }
  .fa-question-circle:hover {
    cursor: pointer;
    color: #F0E100; }

/************************     GAMEFIELD   ******/
.gamefield {
  position: relative;
  margin: 0 auto;
  margin-top: 20px;
  max-width: 500px;
  overflow: hidden;
  border: 10px solid #393E41;
  border-radius: 50%;
  background-color: #393E41; }

.container {
  display: flex;
  align-items: center; }
  .container-centre-bottom {
    justify-content: space-around; }

.square {
  border: 10px solid #393E41; }

.activated {
  opacity: 0.5; }

#item1 {
  background-color: #0DAB76;
  border-radius: 100% 0 0 0; }
#item2 {
  background-color: #235789;
  border-radius: 0 100% 0 0; }
#item3 {
  background-color: #DB2B39;
  border-radius: 0 0 0 100%; }
#item4 {
  background-color: #F0E100;
  border-radius: 0 0 100% 0; }

/************************ GAMEFIELD CENTRE DISPLAY  ******/
.centre {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #393E41;
  padding: 0;
  width: 150px;
  border: 1px solid transparent;
  border-radius: 50%; }

.centre-bottom-half {
  margin-top: 30px; }

.btn-start {
  width: 30px;
  height: 30px;
  background-color: #0DAB76;
  color: #FFFDFD;
  border: solid 1px transparent;
  border-radius: 50%; }
  .btn-start:hover {
    cursor: pointer;
    background-color: #10CE8F; }

.box {
  width: 30px;
  height: 30px;
  position: relative;
  margin-left: 10px;
  display: inline-block;
  cursor: default; }
  .box-display {
    background-color: #FFFDFD;
    border-style: solid;
    border-color: transparent;
    border-width: 2px;
    border-radius: 20%;
    font-family: 'Nunito', sans serif;
    text-align: center; }
    .box-display p {
      color: #393E41;
      margin: 0; }
  .box-title {
    margin-top: 5px;
    color: #FFFDFD;
    font-family: 'Open Sans', sans serif;
    font-size: 12px;
    font-weight: 400;
    text-align: center; }

.strictButton {
  font-size: 12px;
  text-transform: uppercase;
  background-color: #235789;
  cursor: pointer;
  border-color: #FFFDFD;
  border-width: 1px;
  min-height: 20px;
  padding-top: 4px; }
  .strictButton p {
    color: #FFFDFD; }
  .strictButton:hover {
    background-color: #376693; }

.blue-button {
  background-color: #235789; }
  .blue-button:hover {
    background-color: #376693; }

.green-button {
  background-color: #0DAB76; }
  .green-button:hover {
    background-color: #10CE8F; }

.simon {
  width: 100%;
  position: absolute;
  top: 0px;
  text-align: center;
  cursor: default; }
  .simon h3 {
    margin-top: 15px;
    margin-bottom: 0;
    color: #FFFDFD;
    font-family: 'Nunito', sans-serif;
    font-size: 35px;
    font-weight: 700; }

/****************************     MODALS    ******/
.modal {
  display: none;
  padding-top: 10%;
  z-index: 1;
  position: fixed;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.modal-content {
  background-color: #FFFDFD;
  width: 70%;
  max-width: 720px;
  min-width: 300px;
  margin: auto; }
  .modal-content-alert {
    text-align: center; }

.modal-header {
  position: relative;
  height: 35px;
  width: 100%;
  color: #FFFDFD;
  background-color: #393E41;
  font-family: 'Nunito', sans-serif; }
  .modal-header h3 {
    margin-left: 15px;
    padding-top: 5px; }

.close {
  font-size: 22px;
  position: absolute;
  top: 0px;
  right: 15px; }
  .close:hover {
    cursor: pointer; }

.modal-body {
  padding: 15px;
  font-family: 'Open Sans', sans serif;
  text-align: center;
  color: #393E41;
  overflow: auto; }
  .modal-body h4 {
    text-align: center;
    font-size: 22px; }

#help-content {
  display: none;
  text-align: left; }

#win-alert {
  display: none;
  text-align: center; }

.fa-trophy {
  font-size: 100px;
  color: #F0E100; }

.fa-award {
  color: #DB2B39;
  font-size: 30px;
  margin: 5px 10px; }
  .fa-award ~ h3 {
    display: inline-block; }

.btn-example {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: solid 1px transparent;
  border-radius: 50%;
  background-color: #0DAB76;
  margin-left: 15px;
  text-align: center;
  padding-top: 0px;
  line-height: 1.8;
  color: #FFFDFD; }

/****************************     MEDIA QUERIES   ******/
@media screen and (max-width: 480px) {
  .square {
    border-width: 5px; }

  .gamefield {
    border-width: 5px; }

  .centre {
    width: 130px; }

  .simon h3 {
    font-size: 30px; }

  .btn-start {
    width: 25px;
    height: 25px; }

  .box {
    width: 25px;
    height: 25px; }

  .box-title {
    margin-top: 0px;
    font-size: 11px; }

  .box-display {
    font-size: 15px; }

  .strictButton {
    font-size: 10px;
    min-height: 16px; } }

/*# sourceMappingURL=style.css.map */
